.left-content{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: center;
}

/* .left-fixed {
  position: fixed;
} */

.left-logo{
  margin-top: 0;
  display: flex;
  align-items: center;
}

.left-logo-img {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
}

.left-name-header{
  font-family: "Syne Mono";
  letter-spacing: .2em;
  color: #3c3b3b;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.left-email {
  display: flex;
  align-items: center;
}
.left-email a{
  margin-top: 10px;
  font-family: "Raleway";
  letter-spacing: .2em;
  color: inherit;
  font-size: 14px;
  text-decoration:none;
  border-bottom: 1px dashed #999;
}

.left-email a:hover{
  color: blue;
  border-bottom: 1px dashed blue;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  font-size: 18px;
  margin-top: -2px;
}

.left-about {
  font-family: "Raleway";
  margin-left: 0;
  line-height: 1.8;
  letter-spacing: .1em;
}

.left-about h4{
  color: #5e5b5b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.left-about p{
  font-size: .1em;
  /* max-width: 350px; */
}

@media screen and (max-width: 1280px) {
  .left-about p{
    font-size: 14px;
    max-width: 100%;
  }
}

.left-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.left-icons img{
  width: 5%;
}