.horizontal-rule {
  line-height: 200px;
  padding-top: 20px;
  border-bottom: solid 1px rgba(160,160,160,0.3);
  width: 100%;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-text {
flex: 1;
flex-direction: column;
}

.box-text-header{
  font-family: 'Montserrat', serif;
  font-size: 40px;
  font-variant: small-caps;
}

.box-img:hover{
  transform: scale(1.5);
  /* transition: width 2s, height 2s, transform 1s; */
  background-color: white;
  margin-right: 20px;
  margin-left: 10px;
}

.box-sec-text {
  font-size: 20px;
  color: grey;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 20px;
  /* background-color: #f1f1f1; */
  border: solid 1px rgba(21, 8, 139, 0.3);
  color: rgba(54, 15, 126, 0.3);
  margin-left: 5px;
}

.rowTitle {
  font-variant: small-caps;
  font-family: 'Montserrat', serif;
  font-size: 18px;
}